SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnY2l2Z21jbm5uam1mZG9xcG5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMDU5MzksImV4cCI6MjA5NDg4MTkzOX0.9pDlZfVJymfF5jL8M0Ua6qKa66OxgLq4bndpckt-KFg"
SUPABASE_URL="https://wgcivgmcnnnjmfdoqpne.supabase.co"
VITE_SUPABASE_PROJECT_ID="wgcivgmcnnnjmfdoqpne"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnY2l2Z21jbm5uam1mZG9xcG5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMDU5MzksImV4cCI6MjA5NDg4MTkzOX0.9pDlZfVJymfF5jL8M0Ua6qKa66OxgLq4bndpckt-KFg"
VITE_SUPABASE_URL="https://wgcivgmcnnnjmfdoqpne.supabase.co"
